@model List<EmailTemplate>

<head>
    <link rel="stylesheet" href="~/css/email.css">
</head>

<div class="text-center">
    <div class="display-6 my-3 font-weight-bold" style="font-family: 'Arial', sans-serif;"><i class="fa-solid fa-envelope text-secondary"></i> Email Templates</div>
    <table class="table table-striped table-hover my-3">
        <hr class="my-4" style="border: 2px solid black; border-radius: 5px;">
        <div class="text-center">
            <div class="d-flex justify-content-end my-3">
                <a class="btn btn-outline-success btn-lg" asp-action="Create">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
            </div>
        </div>
        <thead>
            <tr>
                <th class="font-weight-bold">Template Name</th>
                <th class="font-weight-bold">Subject</th>
                <th class="font-weight-bold">Content</th>
                <th class="font-weight-bold">Landing Page</th>
                <th class="font-weight-bold">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emailTemplate in Model)
            {
                <tr>
                    <td>@emailTemplate.EmailTemplateName</td>
                    <td>@emailTemplate.EmailSubject</td>
                    <td>@emailTemplate.EmailContent</td>    
                    <td>@emailTemplate.LandingPageUrl</td>
                    <td>
                        <div class="btn-group">
                            <a
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Edit"
                               class="btn btn-warning" asp-action="Update"
                                asp-route-id="@emailTemplate.EmailTemplateId">
                                <i class="fa-solid fa-edit"></i> Edit
                            </a>
                            <a
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Delete"
                                class="btn btn-danger" asp-action="Delete"
                                asp-route-id="@emailTemplate.EmailTemplateId">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>


@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}